:root {
    --color-red: hsl(0, 100%, 74%);
    --color-green: hsl(154, 59%, 51%);
    --color-blue: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249, 10%, 26%);
    --color-grayish-blu: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--color-red);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vh;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    width: 940px;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text h1 {
    line-height: 1.1;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.text p {
    line-height: 1.8;
    font-size: 13px;
    font-weight: 400;
}

.box {
    margin-left: 30px;

}

.button button{
    text-align: center;
    justify-content: center;
    color: white;
    border: none;
    font-size: 13px;
    box-shadow: -1px 8px 1px -1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--color-blue);
    margin-bottom: 15px;
    width: 420px;
    height: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    box-shadow: -1px 8px 1px -1px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 8px;
    width: 420px;
}

.input {
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
    padding: 15px 25px;
    border-radius: 2px;
    border: 0.5px solid hsl(246, 25%, 77%, 30%);
}

.inputError {
    border: 1px solid red;
}

.error {
    display: flex;
    color: red;
    font-style: italic;
    justify-content: end;
    margin: 5px 0;
    font-size: 8px;
}

.claim {
    height: 45px;
    font-size: 11px;
    margin-top: 20px;
    background-color: var(--color-green);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 3px 1px -1px rgba(0, 0, 0, 0.3);;
}

.termsServices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.terms {
    color: var(--color-grayish-blu);
    font-size: 7px;
    opacity: 50%;
}
.services {
    color: var(--color-red);
    font-size: 7px;
    opacity: 90%;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}